@model ClientsDirectory.Models.ClientInfo


<h3 class="text-info">Client Details - By Standard</h3>

@if (Model != null)
{
    <table class="table table-bordered">
        <tr><th>Client ID</th><td>@Model.ClientId</td></tr>
        <tr><th>Company Name</th><td>@Model.CompanyName</td></tr>
        <tr><th>Web URL</th><td><a href="@Model.WebUrl">@Model.WebUrl</a></td></tr>
        <tr><th>Email</th><td>@Model.Email</td></tr>
        <tr><th>Category</th><td>@Model.Category</td></tr>
        <tr><th>Standard</th><td>@Model.Standard</td></tr>
    </table>
}
else
{
    <p class="text-danger">Client not found.</p>
}